
body {
    background-color: #073642;
    background-image: url("assets/images/wallpaper_orange.png");
    margin: 0px;
}

.plane {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.object0 {
    background-color: #002b36;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 8px 24px #000000;
}

.object1 {
    user-select: none;
    background-color: #002b36;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    box-shadow: 0px 8px 24px #000000;
}

.property0 {
    outline: none;
    user-select: none;
    background-color: #073642;
    border-width: 5px;
    border-style: solid;
    border-color: #002b36;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 15px;
    margin: 10px;
}

.property1 {
    width: 400px;
    height: 35px;
    outline: none;
    user-select: none;
    color: #859900;
    background-color: #002b36;
    font-family: 'Iosevka Term Web';
    font-size: 20pt;
    border: none;
    position: relative; bottom: 15px;
    padding-left: 15px;
}

.property2 {
    outline: none;
    user-select: none;
    background-color: #073642;
    border-width: 5px;
    border-style: solid;
    border-color: #002b36;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 15px;
    margin: 15px;
}

.object0 img {
    height: 80px;
    width: 80px;
    padding: 5px
}

.object1 img {
    height: 50px;
    width: 50px;
    padding: 5px
}

.property1::placeholder {
    color: #839496;
    opacity: 0.8;
}

@keyframes emphasis {
    0% {
        position: relative; right: 0px; bottom: 0px;
    }

    50% {
        position: relative; right: 4px; bottom: 4px;
        box-shadow: 0px 8px 24px #839496;
        border-color: #839496;
    }

    100% {
        box-shadow: 4px 4px #2aa198;
        border-color: #2aa198;
    }
}

.property0:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    position: relative; right: 4px; bottom: 4px;
    border-color: #2aa198;
    box-shadow: 4px 4px #2aa198;
    border-radius: 15px;
}

.property2:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    position: relative; right: 4px; bottom: 4px;
    border-color: #2aa198;
    box-shadow: 4px 4px #2aa198;
    border-radius: 15px;
}
