:root {
    --base03: #002b36;
    --base02: #073642;
    --base0: #839496;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
}

@font-face {
    font-family: 'Iosevka Term Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url('assets/fonts/iosevka-term-extended.woff2') format('woff2');
}

body {
    background-color: var(--base02);
    background-image: url("assets/images/wallpaper_orange.png");
    margin: 0px;
}

.canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    user-select: none;
    white-space: nowrap;
    background-color: var(--base03);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 10px 25px black;
}

.inputbar {
    width: 400px;
    height: 35px;
    outline: none;
    user-select: none;
    color: #859900;
    background-color: var(--base03);
    font-family: "Iosevka Term Web";
    font-size: 20pt;
    border: none;
    position: relative; bottom: 15px;
    margin-left: 10px;
}

.inputbar::placeholder {
    color: var(--base0);
}

.enter {
    outline: none;
    user-select: none;
    background-color: var(--base02);
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--base03);
    box-shadow: 0px 5px 15px black;
    margin: 10px;
}

.shortcuts {
    background-color: var(--base03);
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 25px black;
}

.websites {
    outline: none;
    user-select: none;
    background-color: var(--base02);
    border-width: 5px;
    border-style: solid;
    border-color: var(--base03);
    box-shadow: 0px 5px 15px black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

@keyframes emphasis {
    0% {
        position: relative; right: 0px; bottom: 0px;
    }
    50% {
        box-shadow: 0px 10px 25px var(--base0);
        border-color: var(--base0);
    }
    100% {
        position: relative; right: 5px; bottom: 5px;
        box-shadow: 5px 5px var(--cyan);
        border-color: var(--cyan);
    }
}

@keyframes icon-color {
    0% {
        fill: var(--yellow);
    }
    15% {
        fill: var(--orange);
    }
    30% {
        fill: var(--red);
    }
    45% {
        fill: var(--magenta);
    }
    100% {
        fill: var(--cyan);
    }
}

.websites:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    position: relative; right: 5px; bottom: 5px;
    border-color: var(--cyan);
    box-shadow: 5px 5px var(--cyan);
    border-radius: 15px;
}

.enter:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    position: relative; right: 5px; bottom: 5px;
    border-color: var(--cyan);
    box-shadow: 5px 5px var(--cyan);
    border-radius: 15px;
}

.icons:hover {
    animation-name: icon-color;
    animation-duration: 1s;
    fill: var(--cyan);
}
