body {
    background-image: url("wallpaper_orange.png");
    background-color: #073642;
    margin: 0px;
}

.plane {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.object0 {
    background-color: #002b36;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Iosevka Term Extended";
    font-size: 4rem;
    box-shadow: 0px 8px 24px #000000;
}

.object1 {
    user-select: none;
    background-color: #002b36;
    border-radius: 15px;
    margin: 15px;
    font-family: "Iosevka Term Extended";
    font-size: 3rem;
    box-shadow: 0px 8px 24px #000000;
}

.property0 {
    outline: none;
    user-select: none;
    color: #839496;
    text-decoration: none;
    background-color: #073642;
    border-width: 5px;
    border-style: solid;
    border-color: #002b36;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 20px;
}

.property1 {
    outline: none;
    user-select: none;
    color: #859900;
    background-color: #002b36;
    margin-left: 35px;
    margin-bottom: 25px;
    font-size: 18pt;
    width: 400px;
    height: 50px;
    border: none;
}

.property2 {
    outline: none;
    user-select: none;
    color: #839496;
    font-size: 3rem;
    text-decoration: none;
    background-color: #073642;
    border-width: 5px;
    border-style: solid;
    border-color: #002b36;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
}

.property1::placeholder {
    color: #839496;
    opacity: 0.8;
}

@keyframes emphasis {
    0% {
        position: relative; right: 0px; bottom: 0px;
        color: #839496;
    }
    50% {
        box-shadow: 0px 8px 24px #839496;
        border-color: #839496;
        color: #6c71c4;
    }
    100% {
        position: relative; right: 4px; bottom: 4px;
        box-shadow: 4px 4px #2aa198;
        border-color: #2aa198;
        color: #d33682;
    }
}

.property0:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    color: #d33682;
    position: relative; right: 4px; bottom: 4px;
    border-color: #2aa198;
    box-shadow: 4px 4px #2aa198;
    border-radius: 15px;
}

.property2:hover {
    animation-name: emphasis;
    animation-duration: .5s;
    color: #d33682;
    position: relative; right: 4px; bottom: 4px;
    border-color: #2aa198;
    box-shadow: 4px 4px #2aa198;
    border-radius: 15px;
}
